.tdd {
    // display: none !important;
    width: 300px !important;
    // border: 1px solid #ccc !important;
}
.tddd {
    width: 300px !important;
    text-align: center;
}
.tddh {
    // width: 300px !important;
    text-align: center;
}

// ARCHIVED
.tddA {
    // display: none !important;
    width: 300px !important;
    // border: 1px solid #ccc !important;
}
.tdddA {
    width: 300px !important;
    text-align: center;
}
.tddhA {
    // width: 300px !important;
    text-align: center;
}

// VISA
.tddV {
    // display: none !important;
    width: 300px !important;
    // border: 1px solid #ccc !important;
}
.tdddV {
    width: 300px !important;
    text-align: center;
}
.tddhV {
    // width: 300px !important;
    text-align: center;
}

// VISA
.tddJ {
    // display: none !important;
    width: 300px !important;
    // border: 1px solid #ccc !important;
}
.tdddJ {
    width: 300px !important;
    text-align: center;
}
.tddhJ {
    // width: 300px !important;
    text-align: center;
}