

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    background: rgba(0, 0, 0, 0.7); /* Légèrement plus foncé pour plus de contraste */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.modal {
    // background: white;
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 100%; /* Utilisez une largeur de 90% pour la rendre responsive */
    max-width: 800px; /* Définissez une largeur maximale */
    height: 70vh; /* Permet à la hauteur de s'ajuster en fonction du contenu */
    max-height: 80vh; /* Limitez la hauteur à 80% de la hauteur de la fenêtre */
    overflow-y: hidden; /* Ajoutez un défilement si le contenu déborde */
}

label {
    display: flex;
    flex-direction: column; /* Alignement vertical des éléments du label */
    margin-bottom: 15px; /* Ajoute une marge entre les champs */
}

// input[type="text"] {
//     padding: 10px; /* Ajoute du padding à l'input */
//     border: 1px solid #ccc; /* Bordure grise */
//     border-radius: 4px; /* Coins arrondis */
//     margin-top: 5px; /* Ajoute une marge au-dessus de l'input */
//     width: 100%; /* Prend toute la largeur disponible */
//     background-color: var(--second-bg);
// }

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .text__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }