.container__archive{
    padding-top: calc(var(--topnav-height) + 20px);
} 


.title_archive {
    margin-left: 5%;
    // width: 90%;
    padding-bottom: 2%;
    font-size: 1.2rem;
    font-weight: 900;
}